html:not(.dark){
    --border-color:#dcdfe6;
    --text--color:#007974;
    --link-bg-color:#02BCB0;
    --link-font-color:white;
    --vp-sidebar-width-mobile: 320px;
    --vp-sidebar-width-small: 266px;
    --el-color-primary: #409eff;
}