html:not(.dark){
    --border-color:#dcdfe6;
    --text--color:#007974;
    --link-bg-color:#02BCB0;
    --link-font-color:white;
    --vp-sidebar-width-mobile: 320px;
    --vp-sidebar-width-small: 266px;
    --ht-color-primary: #409eff;
    --code-font-color:#303133;
    --code-bg-color:#F5F7FA;
    --code-font-family:"JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    --ht-border-radius-base:4px;
    --ht-demo-icon-color:#909399;
    --ht-demo-icon-color--hover:--code-font-color;
    --ht-fill-color-light:#f5f7fa;
    --ht-scroll-color:#CCCCCC;





    ::-webkit-scrollbar{
        background-color: transparent;
        width: 7px;
        height: 7px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: var(--ht-scroll-color);
        border-radius: 10px;
    }
}